// Custom vars
$FONT_SIZE: 16px;
$LINE_HEIGHT: $FONT_SIZE;

$ICON_WIDTH: 80px;
$ICON_HEIGHT: 80px;

$SWITCHER_WIDTH: 36px;
$SWITCHER_HEIGHT: 26px;

// Main Size of media
$MEDIA_GLOBAL_W: 1920px;
$MEDIA_GLOBAL_H: 1080px;

// Margin around 
$OVERALL_MARGIN: 40px;

$SIDE_BAR_WIDTH: 6px;

// Breakpoints
$MQ_XXSMALL: 320px;
$MQ_XSMALL: 414px;
$MQ_SMALL: 550px;
$MQ_MEDIUM: 768px;
$MQ_LARGE: 1024px;
$MQ_XLARGE: 1280px;
$MQ_XXLARGE: 1680px;

// Color
$WHITE: #ffffff;
$BLACK: #000000;
$PURPLE: #522F5D;
$GRAY: #737373;
