.home-page {
	@extend .full;

	.grid-container {
		position: absolute;
		z-index: 2;
		top: 0;
		& > div {
			// cursor: pointer;
			position: absolute;
			overflow: hidden;
			img {
				position: absolute;
				z-index: 2;
				@include opacity(1);
				@include simpleAnim(.6s, .0s, $easeOutExpo);
			}
			video {
				position: absolute;
				z-index: 1;
			}
			&.over {
				img {
					@include opacity(0);
					@include simpleAnim(.6s, .0s, $easeOutExpo);
				}
			}
		}
	}
	.grid-front-container {
		position: absolute;
		z-index: 6;
		top: 0;
		left: 0;
		& > div {
			cursor: pointer;
			position: absolute;
		}
	}
	.grid-background-container {
		position: fixed;
		z-index: 1;
		top: 0;
		& > * {
			position: absolute;
		}
	}
	.lines-grid-container {
	    z-index: 4;
		top: 0;
		.horizontal-lines > div {
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #fff;
		}
		.vertical-lines > div {
			position: absolute;
			width: 1px;
			height: 100%;
			background-color: #fff;
		}
	}
	.bottom-texts-container {
		color: black;
		font-size: 12px;
		letter-spacing: 0.73px;
		line-height: $globalLineHeight;
		position: absolute;
		z-index: 4;
		top: 0;
		left: 0;
		.text-btn {
			position: relative;
		}
		.titles-wrapper {
			color: $green;
			position: absolute;
			$margin: 6px;
			width: 100%;
			text-align: center;
			top: 40px;
			z-index: 4;
			@include max-screen-height($MQ_HEIGHT_SMALL) {
				top: 30px;
			}
			li {
				cursor: pointer;
				font-family: Hobo;
				font-size: 12px;
				letter-spacing: 1.35px;
				line-height: 15.85px;
				margin: 0 $margin;
				@include inline-block;
			}
		}
		.texts-wrapper {
			position: absolute;
			z-index: 2;
			@extend .full;
			text-align: center;
			& > div {
				color: $green;
				font-family: FuturaMedium;
				font-size: 14px;
				letter-spacing: 0.87px;
				line-height: 18px;
				position: absolute;
				padding: 0 10%;
				@include max-screen-height($MQ_HEIGHT_SMALL) {
					font-size: 12px;
					line-height: 16px;
				}

			}
		}
		.inner-mask-background {
			position: absolute;
			@extend .full;
			z-index: 1;
			overflow: hidden;
			& > div {
				position: absolute;
				@extend .full;
			}
			div {
				&:first-child {
					background-color: $green;
					z-index: 1;
				}
				&:last-child {
					background-color: $green-light;	
					z-index: 0;
				}
			}
		}
		.inner-background {
			@extend .full;
			background-color: #ffffff;
			// border: 2px solid $green;
			z-index: 0;
		}
		#social-wrapper{
			position: absolute;
			z-index: 2;
			$w: 18px;
			$margin: 6px;
			li {
				width: $w;
				height: $w;
				margin: 0 $margin;
				@include inline-block;
				position: relative;
				&:last-child {
					margin-bottom: 0;
				}
				svg > * {
					fill: $green;
				}
			}
			li.twitter {
				width: $w + 3px;
				height: $w + 3px;
			}
			li.facebook {
				width: $w - 1px;
				height: $w - 1px;
				top: -1px;
			}
			// @include anim(.4s, .0s, $easeInOutExpo, translateX(0px), 50%, 50%);
			// &.hide {
			// 	@include anim(.4s, .0s, $easeInOutExpo, translateX(80px), 50%, 50%);
			// }
		}
	}
	.around-border-container {
		$borderSize: 10px;
		position: absolute;
		z-index: 4;
		top: 0;
		& > div {
			position: absolute;
			background-color: $green;
		}
		.top, .bottom, .left-step-top, .right-step-top {
			height: $borderSize;
		}
		.left, .right, .left-step-bottom, .right-step-bottom {
			width: $borderSize;
		}
	}
	.around-border-letters-container {
		position: absolute;
		z-index: 5;
		top: 0;
		& > div {
			& > div {
				position: absolute;
			}
			font-size: 11px;
			position: absolute;
			text-transform: uppercase;
			color: white;
		}
	}
}