
html, body {
    padding: 0;
    margin: 0;
    font-family: "FuturaMedium";
    background-color: white;
    letter-spacing: 0.88px;
    line-height: $globalLineHeight;
}

html {
    @extend .full;
    overflow-x: hidden;
    overflow-y: hidden;
}

#app-container  {
    
    // font smoothing
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    // disable text-selection & text cursor
    // @include user-select(none);
    cursor: default;

    // overall text params
    font-size: $globalFontSize;

    position: absolute;
    @extend .full;
}

#app-template {
    @extend .full;
}

#mouse-dot {
    $size: 50px;
    position: absolute;
    width: $size;
    height: $size;
    @include opacity(0.5);
}

#messages {
    position: absolute;
    font-family: Eskindar;
    color: white;
    font-size: 200px;
    text-transform: uppercase;
    & > div {
        position: absolute;
    }
}

